# This file is managed by Ansible

server 0.rhel.pool.ntp.org
server 1.rhel.pool.ntp.org
server 2.rhel.pool.ntp.org
server 3.rhel.pool.ntp.org

driftfile /var/lib/chrony/drift
makestep 10 3

keyfile /etc/chrony.keys
commandkey 1
generatecommandkey

noclientlog
logchange 0.5

logdir /var/log/chrony
log measurements statistics tracking
