# Virtual environment related stuff
.tox/*

# Log files
*.log

# Linux swap files range from .saa to .swp
*.s[a-w][a-p]

# Python bytecode files
*.pyc
*.pyo

# Development environment files
.project
.pydevproject
