import jenkins.model.*
import hudson.model.*

def inst = Jenkins.getInstance()
def desc = inst.getDescriptor("hudson.tools.JDKInstaller")
println desc.doPostCredential('vsmahajan007@gmail.com','Test#123')
